<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="height: 100vh;">
  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
      <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Estudiantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cursos</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sesión
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Mi perfil</a></li>
        <li><a class="dropdown-item" href="#">Configurar</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
      </ul>
    </li>
  </ul>
</div>